{% extends 'base.html.twig' %}

{% block body %}

    <h4 style="color:grey">Using Bootstrap 3</h4>
    <h5 class="text-muted"><strong>Components</strong></h5>
    <ul>
        <li><a href="?page=tabs">Tabs</a></li>
        <li><a href="?page=share">Share buttons</a></li>

        <li><a href="?page=images">Images</a></li>
    </ul>
    <h5 class="text-muted"><strong>Pages</strong></h5>
    <ul>
        <li>
            <h5 class="text-muted">Blog</h5>
            <ul>
                <li><a href="?page=blog-post-lifehack">Lifehack.org Post</a></li>
            </ul>
        </li>
    </ul>

    <hr>

    <h4 style="color:grey">Framework-less</h4>
    <h5 class="text-muted"><strong>Components</strong></h5>
    <ul>
        <li><a href="?page=maps">Maps</a></li>
    </ul>
{% endblock %}