{% extends 'base.html.twig' %}

{% block body %}
    <h1>Building blocks</h1>

    <hr>
    
    <h4 style="color:grey">Using Bootstrap 3</h4>
    <h6 class="text-muted">Components:</h6>
    <ul>
        <li><a href="?page=tabs">Tabs</a></li>
        <li><a href="?page=share">Share buttons</a></li>

        <li><a href="?page=images">Images</a></li>
    </ul>
    <h6 class="text-muted">Pages:</h6>

    <hr>

    <h4 style="color:grey">Framework-less</h4>
    <h6 class="text-muted">Components:</h6>
    <ul>
        <li><a href="?page=maps">Maps</a></li>
    </ul>
{% endblock %}